@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Golos Text", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}
:root {
  --main-bg-color: #f4f1f1;
  --white-bg-color: #fbfbfb;
  --white: #fff;
  --secondary-bg-color: #d72f59;
  --black-bg-shade: #f0f0f0;
  --font-light-black: #c6c6c6;
  --black-font-color: #282828;
  --font-size-sm: 1vw;

}
#main {
  width: 100%;
  min-height: 100vh;
  background-color: var(--main-bg-color);
}
/* top bar */
nav.top_navbar {
  width: 100%;
  height: 4vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1vw;
  padding: 0 1vw;
  padding-top: 1vw;
}
.top_navbar .logo {
  height: 100%;
}
.top_navbar .logo img {
  height: 100%;
}

.top_navbar .logo_name {
  font-size: var(--font-size-sm);
  font-weight: 600;
}

.top_navbar .search_box {
  width: 100%;
  padding-left: 3vw;
  position: relative;
}
.top_navbar .search_box i {
  position: absolute;
  top: 19%;
  left: 5%;
  font-size: 1.8vw;
  color: var(--font-light-black);
}
.top_navbar .search_box input {
  width: 40%;
  height: 3vw;
  border: none;
  border-radius: 60px;
  padding: 0 1vw;
  font-size: 1vw;
  background-color: var(--white);
  padding-left: 3vw;
}

.top_navbar .profile_navbar {
  height: 90%;
  display: flex;
  align-items: center;
  gap: 1vw;
}
.top_navbar .profile_navbar .profile {
  height: 100%;
  background-color: var(--white);
  display: flex;
  align-items: center;
  gap: 1vw;
  border-radius: 60px;
  padding: 0.8vw;
}
.top_navbar .profile img {
  height: 2vw;
  width: 2vw;
  border-radius: 60px;
}

.top_navbar .profile_navbar > i {
  color: var(--white);
  font-size: 1.5vw;
  padding: 0.4vw;
  border-radius: 60px;
  background-color: var(--secondary-bg-color);
}
.content_box_main {
  display: flex;
  gap: 3px;
  padding-top: 0.5vw;
}
/* left_most_bar */
.content_box_left1 {
  height: 92vh;
  padding: 2vw 0;
  width: 4vw;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.content_box_left1 .list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vw;
  list-style: none;
}
.content_box_left1 i {
  color: black;
  font-size: 1.7vw;
  padding: 0.5vw;
  border-radius: 60px;
  background-color: var(--white);
}
.content_box_left1 .list i.active {
  color: var(--white);
  background-color: var(--secondary-bg-color);
}

.content_box_left1 .left_second {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vw;
  list-style: none;
}

/* left2 */
.content_box_left2 {
  padding: 0.3vw;
  width: 16vw;
  padding-left: 2vw;
}

.content_box_left2 .list {
  display: flex;
  flex-direction: column;
  gap: 0.6vw;
}

.content_box_left2 .list h2 {
  font-size: var(--font-size-sm);
  font-weight: 500;
  text-transform: capitalize;
}
.content_box_left2 .list h2 i {
  margin-right: 0.3vw;
}

.content_box_left2 .list h2.light {
  color: var(--font-light-black);
}

.list1,
.list2 {
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
  padding-left: 1vw;
  position: relative;
}
.list1::before,
.list2::before {
  content: "";
  width: 1px;
  height: calc(100% - 0.5vw);
  background-color: var(--font-light-black);
  position: absolute;
  top: 0;
  left: 0;
}
.list1 h2,
.list2 h2 {
  display: flex;
  justify-content: space-between;
  width: 80%;
  position: relative;
}
.list1 h2.active,
.list2 h2.active {
  color: var(--secondary-bg-color);
  font-weight: 700;
}
.list1 h2 span,
.list2 h2 span {
  background-color: var(--secondary-bg-color);
  color: var(--white);
  display: flex;
  padding: 5px;
  font-size: 0.5vw;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.list1 h2::before,
.list2 h2::before {
  content: "";
  width: 0.8vw;
  height: 1px;
  background-color: var(--font-light-black);
  position: absolute;
  top: 50%;
  left: -10%;
}

/* right_most_content */

.content_box_right {
  width: calc(100vw - 20vw - 2vw - 3px);
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 0.5vw;
  background-color: var(--white-bg-color);
  height: 90vh;
}

.content_box_right .section1 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section1 .profiles,
.section1 .options {
  display: flex;
  align-items: center;
  gap: 1vw;
}
.section1 .add_profile {
  height: 2.5vw;
  width: 2.5vw;
  border-radius: 60px;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px var(--font-light-black);
  font-size: 1.5vw;
  cursor: pointer;
}
.section1 .logo_icon,
.section1 .options i {
  height: 2vw;
  border: solid 1px var(--font-light-black);
  width: 2vw;
  border-radius: 60px;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1vw;
  cursor: pointer;
}
.section1 .profiles .profile {
  display: flex;
  align-items: center;
  gap: 0.3vw;
  border: solid 1px var(--font-light-black);
  padding: 0.2vw 0.3vw;
  text-transform: capitalize;
  font-size: var(--font-size-sm);
  background-color: var(--white);
  border-radius: 60px;
}
.section1 .profiles img {
  height: 2vw;
  width: 2vw;
  border-radius: 60px;
}

/* main content box section2 */
.content_box_right .section2 {
  margin-top: 1vw;
  width: 100%;
  padding: 0.4vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section2 .report_name input {
    background-color: transparent;
  border: none;
  text-transform: capitalize;
  padding: 0 1vw;
  font-size: 3vw;
}

.section2 .report_name input:focus {
  outline: none;
}

.section2 .timeframe{
    display: flex;
    align-items: center;
    gap: 1vw;
    padding: 1vw;
}
.section2 .timeframe .date{
    background-color: var(--black-bg-shade);
    border-radius: 60px;
    padding: 0.5vw 1vw;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Slider Track */
.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: #ccc;
  border-radius: 2vw;
  transition: 0.4s;

  /* Track size */
  width: 3.2vw; /* adjust as you like */
  height: 1.6vw; /* slightly bigger than knob */
}

/* Knob */
.slider:before {
  content: "";
  position: absolute;
  width: 1vw;
  height: 1vw;
  left: 0.3vw;
  top: 0.3vw;
  background-color: #fff;
  border-radius: 50%;
  transition: 0.4s;
}

/* Checked Track */
input:checked + .slider {
  background-color: var(--black-font-color);
}

/* Focus Ring */
input:focus + .slider {
  box-shadow: 0 0 0.2vw var(--black-font-color);
}

/* Knob Translate Distance */
input:checked + .slider:before {
  transform: translateX(1.6vw);
}


/* section3 */
.section3{
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  width: 100%;
  padding: 1vw 0.5vw;

  /* background-color: #0973e5; */
}

.section3 .revenue{
  text-transform: capitalize;
  display: flex;
  gap: 0.3vw;
  flex-direction: column;
  align-items: flex-start;
}
.section3 .revenue div{
  display: flex;
  gap: 1vw;
  align-items: center;
  
}
.section3 .revenue span{
  padding: 0.2vw 0.5vw;
  background-color: var(--secondary-bg-color);
  border-radius: 20px;
  width: fit-content;
  height: fit-content;
}
.revenue h1{
  font-size: 1.5vw;
  font-weight: 500;
}
.revenue h2{
  font-size: 2vw;
  font-weight: 700;
}

.section3 .middle{
  display: flex;
  align-content: center;
  gap: 1vw;
}

.section3 .middle .card{
    display: flex;
  gap: 0.6vw;
  flex-direction: column;
  background-color: var(--white);
  padding: 0.5vw;
  width: 12vw;
  border-radius: 10px;
  border: 3px solid var(--black-bg-shade);


}
.section3 .middle .card:nth-child(2){
  background-color: var(--black-font-color);

}

.middle .card .top{
  display: flex;
  justify-content: space-between;

}
.card .profile{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card .profile .left{
  display: flex;
  justify-content: space-between;
}

.middle .card h3{
  font-size: var(--font-size-sm);
  color:var(--font-light-black);
  text-transform: capitalize;
}
.middle .card h2{
  /* color: white; */
  padding: 2px;
  font-weight: 600;
}
.middle .card:nth-child(2) h2{
  color: white;
}
.middle .card:nth-child(2) h2{
  color: white;
}

.middle .card .profile .left{
  display: flex;
  align-items: center;
  gap: 5px;
}

.middle .card .profile img{
 width: 1.5vw;
 height: 1.5vw;
 border-radius: 50%;
  object-fit: cover;

}
.card .profile h4{
  color: var(--black-font-color);
}
.middle .card:nth-child(2) .profile {
  color: white;
}
.middle .card:nth-child(2) .profile h4{
  color: white;
}


.section3 .deals{
  display: flex;
  align-content: center;
  gap: 1vw;
}
.section3 .deals .card{
    display: flex;
  gap: 0.6vw;
  flex-direction: column;
  background-color: var(--white);
  padding: 0.7vw;
  width: 6.5vw;
  border-radius: 10px;
  align-items: center;
  border: 3px solid var(--black-bg-shade);
  box-shadow: 0.5px 0.5px 10px var(--black-bg-shade);
  transition: all 0.3s ease-in;
}
.section3 .deals .card:hover{
  transform: scale(1.02);
  background-color: #FEFBFC;
  border: 3px solid var(--secondary-bg-color);
}
.section3 .deals .card:hover h2{
  background-color: var(--secondary-bg-color);
  
}
.deals .card h1{
  color: var(--black-font-color);
  font-size: 0.8vw;
  text-transform: capitalize;
}
.deals .card h2{
  font-size: var(--font-size-sm);
  background-color: var(--font-light-black);
  padding: 0.4vw;
  transition: all 0.3s ease-in;
  border-radius: 15px;
  color: white;
}
.deals .card h3{
  color: var(--black-font-color);
  font-size: 0.8vw;
}